@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.neighbor {
	background-color: $color-one;
	border-radius: 6px;
	padding: 1rem 1.5rem 0;
	padding-top: min(0.25rem, 1rem);
	display: flex;
	flex-wrap: wrap;
	color: $color-six;
	box-shadow: 0px 0px 2px 1px $color-four;
	transition: box-shadow 0.125s ease-in-out;

	&__header {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		width: 100%;
		justify-content: space-between;
		padding-top: 1rem;
	}

	&__title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-transform: capitalize;
		@include bodyCopyLarge;
	}

	&__member-since {
		@include labelLarge;
		width: 100%;
		padding-top: max(0.5rem, 0.125rem);
	}

	&__since {
		@include labelLarge;
		color: $color-five;
		font-weight: 600;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__img-box {
		width: 5rem;
		height: 5rem;
		overflow: hidden;
		border-radius: 0.25rem;
		background-color: $color-five;
	}

	&__bio {
		display: block;
		width: 100%;
		padding: 0.25rem 0 0.75rem;
		margin: 0.5rem 0 1rem;
	}

	&__barter-title {
		@include bodyCopyLarge;
		color: $color-six;
		margin: 0;
	}

	&__barter-skills {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0;
		padding-bottom: clamp(0.125rem, 0.5rem, 1.5rem);
	}

	&__barter-skill {
		@include bodyCopyLarge;
		list-style-type: none;
		margin: 0 0.75rem 0 0;
		padding: 0;
		font-size: max(1rem, 0.75rem);
	}

	&:hover {
		box-shadow: 0px 0px 5px 5px $color-four;
	}

	&__message-btn {
		border: none;
		padding: 0.5rem;
		width: 100%;
		height: 2rem;
		border-radius: 0.25rem;
		background-image: linear-gradient($color-one, $color-two-light);
		color: $color-four;
		font-size: clamp(0.5rem, 0.75rem, 1.25rem);
		font-weight: 600;
		text-align: center;
		display: block;
		transition: color 0.3s ease-in;

		&:hover {
			cursor: pointer;
		}
	}
}

a {
	text-decoration: none;
}

.semibold {
	font-weight: 600;
	color: $color-five;
	text-transform: capitalize;
}
