@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.neighbors {
	background-color: $color-two;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem 1rem 0;
	flex-wrap: wrap;
	text-align: center;
	@include tablet {
		gap: 3rem;
		padding: 3rem 3rem 0;
		flex-direction: row;
		align-items: flex-start;
	}

	&--alt {
		background-color: $color-one;
		border-radius: 0.25rem;
		padding: 1rem 0.5rem 0;
		margin: 0.5rem 1rem;
		text-align: center;

		@include tablet {
			padding: 2rem 2rem 0;
		}
	}

	&__title {
		@include sectionHeader;
		color: $color-five;
		text-align: center;

		@include tablet {
			margin: 2rem 1rem 0;
		}
	}

	&__subtitle {
		@include subHeader;
		color: $color-six;
		margin: 0 0.5rem 1rem;

		@include tablet {
			margin: 0rem 1rem 1.5rem;
		}
	}

	&__paragraph {
		@include bodyCopyLarge;
		color: $color-six;
		margin-bottom: 1rem;

		@include tablet {
			margin-bottom: 2rem;
		}
	}

	&__tip {
		@include bodyCopy;
		color: $color-five;
		margin-bottom: 1rem;

		@include tablet {
			margin-bottom: 2rem;
		}
	}
}

.neighbor__link {
	width: 100%;
	height: fit-content;
	@include tablet {
		width: clamp(18.75rem, 25%, 32rem);
	}
}
