@use '../../styles/global' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.neighbors {
    background-color: $color-two;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: clamp(.25rem, 75rem, 1rem);
    padding-bottom: 0;
    flex-wrap: wrap;
}

.neighbor__link {
    width: clamp(18.75rem, 25%, 25rem);

    &:hover {
        background-image: linear-gradient($color-two, $color-five);
        border-radius: .25rem;
    };
}