@use '../../styles/global' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.neighbors {
    background-color: $color-two;
    display: flex;
    flex-direction: row;
    padding: clamp(.25rem, 75rem, 1rem);
    flex-wrap: wrap;
}