// Breakpoints //

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Colors //
$blue-medium: #65d0eb;

// $blue-light: #88daee;


// $green-medium: #12ee6e;

$green-dark: #10b642;
$green-light: #8bee88;

$basic-medium: #778e8f;

$basic-light: #ebebeb;


$color-light-blue: #a8dadc;
$color-mid-blue: #457b9d;
$color-dark-blue: #1d3557;
$color-red: #e63946;
$color-light-green: #a8e6cf;

$color-one: #f1faee;
// $color-two: #88daee;
$color-two: #b9dfdf;
$color-two-light: #daf7ff;
// $color-two: #a8dadc;
$color-three: #12ee6e;
$color-four: #1095b6;
$color-five: #1d3557;
$color-six: #242525;