// Breakpoints //

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Colors //
$blue-medium: #12c2ee;
$blue-dark: #1095b6;
$blue-light: #88daee;

$green-medium: #12ee6e;
$green-dark: #10b642;
$green-light: #8bee88;

$basic-medium: #778e8f;
$basic-dark: #242525;
$basic-light: #ebebeb;



