@use '../../styles/global' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.neighbors {
    background-color: $color-two;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;
}