@use '../../styles/global' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.header {
    width: 100%;
    background-color: $color-one;
    z-index: 1;

    &__container {
        display: flex;
        padding: 1rem 2rem 0;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            padding: 2rem 3rem 0rem;
        }
    }

    //header title and subtitle

    &__thtle-btn{
    }

    &__titlebox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 .625rem;
    }

    &__title {
        @include pageHeaderLarge;
        display: block;
        padding: 0 0 1rem;
        color: $color-six;
        text-decoration: none;
    }

    &__subtitle {
        @include sectionHeaderLarge;
        display: block;
        padding: 0 0 0 .5rem;
        color: $color-six;
        text-decoration: none;
    }

    //login button box
    &__loginbox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    //navigation menu box
    &__navbox {
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    //header buttons
    &__btn {
        @include bodyCopy;
        color: $color-six;
        background-color: $color-two;
        border: none;
        border-bottom: 10px solid $color-one;
        border-radius: 5px;
        padding: .5rem 0;
        flex-basis: auto;
        margin: 0 1rem;
        cursor: pointer;
        transition: color .3s ease-in-out;
        transition: background-color .1s ease-in-out;
        transition: border-bottom .1s ease-in-out;
        min-width: 15rem;

        &:hover {
            background-color: $color-four;
            border-bottom: 10px solid $color-four;
            border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
            color: $color-one;
        }
    }
}

.active {
    border-bottom: 10px solid $color-one;
    background-image: linear-gradient($color-two, $color-one);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}









// .container {
//     // background-color: $color-one;
// }

// .header {

//     display: flex;

//     &__title {
//         padding: 1rem;
//         @include pageHeader;
//         display: block;
//     }
//     &__buttons {
//         @include flexin;
//         flex-wrap: wrap;
//         background-color: $color-dark-blue;
//         justify-content: space-around
//     }

//     &__btn {
//         @include bodyCopy;
//         color: $color-six;
//         background-color: $blue-light;
//         border: none;
//         border-radius: 5px;
//         padding: .5rem;
//         flex-basis: auto;
//         margin: 0 1rem;
//         cursor: pointer;
//         transition: all .1s ease-in-out;

//         &:hover {
//             background-color: $blue-medium;
//             color: black;
//         }
//     }
// }