@use './styles/global' as *;
@use './styles/mixins' as *;
@use './styles/variables' as *;

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-one;

  &__routes {
    width: 100%;
    }
}


